.lib {
    width: 120px;
    height: 30px;
    border: 1px solid black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}